# Series

Series is build on top of numpy array and performs similarly. Difference is that a Pandas Series can have **`indexed labels`**

In [1]:
import numpy as np
import pandas as pd

### Creating series from Python objects

We will be using 4 objects of length 11
1. Chracter list - labels
2. Number list - lst
3. Numpy array - arr
4. Dictionary - d

In [2]:
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']
labels

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [3]:
len(labels)

11

In [4]:
lst = np.random.randint(1,46,11)
lst

array([11, 24, 12, 14, 19, 15,  1, 16,  7, 36, 36])

In [5]:
arr = np.array(lst)
arr

array([11, 24, 12, 14, 19, 15,  1, 16,  7, 36, 36])

In [6]:
d = {}
for i in range(11):
    d[labels[i]] = lst[i]
print(d," ")

{'a': 11, 'b': 24, 'c': 12, 'd': 14, 'e': 19, 'f': 15, 'g': 1, 'h': 16, 'i': 7, 'j': 36, 'k': 36}

we have 4 data objects with us - number list, chracter list, numpy array and dictionary

In [7]:
print("Character List = {}\nNumber List = {}\nNumpy array ={}\nDictionary = {}".format(labels, lst, arr, d))

Character List = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']
Number List = [11 24 12 14 19 15  1 16  7 36 36]
Numpy array =[11 24 12 14 19 15  1 16  7 36 36]
Dictionary = {'a': 11, 'b': 24, 'c': 12, 'd': 14, 'e': 19, 'f': 15, 'g': 1, 'h': 16, 'i': 7, 'j': 36, 'k': 36}

`pd.Series()` takes wide variety of values including, data and index

In [8]:
s1 = pd.Series(lst)
s1

0     11
1     24
2     12
3     14
4     19
5     15
6      1
7     16
8      7
9     36
10    36
dtype: int32

*Here the Series has created Index of their own from 0 to 10, and assigned the values next to them*

**Passing on data as number list and labels as character lst**

In [9]:
s2 = pd.Series(lst, labels)
s2

a    11
b    24
c    12
d    14
e    19
f    15
g     1
h    16
i     7
j    36
k    36
dtype: int32

Passing the numpy array

In [10]:
s3 = pd.Series(arr)
s3

0     11
1     24
2     12
3     14
4     19
5     15
6      1
7     16
8      7
9     36
10    36
dtype: int32

or we can pass on the `labels as index` for the numpy arrays

In [11]:
s4 = pd.Series(arr, labels)
s4

a    11
b    24
c    12
d    14
e    19
f    15
g     1
h    16
i     7
j    36
k    36
dtype: int32

passing on the dictionary is very intutive, as pandas takes the **`key as index and value as data`** automatically

In [12]:
s5 = pd.Series(d)
s5

a    11
b    24
c    12
d    14
e    19
f    15
g     1
h    16
i     7
j    36
k    36
dtype: int64

#### Creating a series of Characters

In [13]:
s6 = pd.Series(labels)
s6

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
dtype: object

## Indexing series

In [14]:
se1 = pd.Series([1, 2, 3, 4], ['USA', 'Germany', 'USSR', 'Japan'])
se1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [15]:
se2 = pd.Series([1,2,5,4], ['USA', 'Germany', 'Italy', 'Japan'])
se2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

The data point will be accesed by the index, Since the `index in se1 and se2 is Character`, **`Series[' index ']`** will be used

In [16]:
se1['USA']

1

In [17]:
se1['Japan']

4

In [18]:
se2['Italy']

5

In [19]:
s6

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
dtype: object

any series with numbers as index can be accessed in same way as numpy arrays

In [20]:
s6[6]

'g'

In [21]:
s6[9]

'j'

In [22]:
s6[:5]

0    a
1    b
2    c
3    d
4    e
dtype: object

In [23]:
s6[1:5]

1    b
2    c
3    d
4    e
dtype: object

In [24]:
s6[-5:]

6     g
7     h
8     i
9     j
10    k
dtype: object

In [25]:
s6[:-5]

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

## Operations on Series

In [26]:
se1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [27]:
se2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

adding the two series

In [28]:
se1 + se2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

Since **USSR and Italy index** is not present in both the series, pandas has given the values as NAN

> After any operations performed on Series the data elements are converted into **float**, so that we do not loose any information